<h1 class="text-3xl">Application price</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Nisi fugiat ea incididunt irure occaecat eu qui anim in tempor sint
    excepteur officia. Est officia tempor irure laborum enim aliquip officia.
    Aliquip irure nostrud amet laboris aute ipsum. Est cillum mollit amet
    ullamco magna magna. Consequat nulla commodo do incididunt reprehenderit
    enim est deserunt deserunt magna laboris ullamco. Exercitation officia magna
    officia proident eiusmod officia. Excepteur reprehenderit reprehenderit elit
    incididunt incididunt ipsum. Nisi incididunt sunt nulla nulla nulla
    adipisicing qui qui deserunt velit dolore fugiat. Dolor qui deserunt
    reprehenderit eu excepteur. Elit do aliquip reprehenderit sit sit et
    adipisicing esse amet. Quis sint consequat ullamco mollit quis aliqua.
    Deserunt eu laboris consequat pariatur elit aute ipsum fugiat aliqua est.
  </p>
</section>
